@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Mulish&display=swap');
body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background-color: #fff !important;
}
.navbar-brand{
  font-size: 1.9rem !important;
   color: #565387 !important;
}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover{
  color: #3498db !important;
}

#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1{
  margin: 0 0 10px 0;
  font-size: 35px;
  font-weight: 700;
  color: black;
}
#header .brand-name{
  color: #3498db;
}
#header h2{
  color: #3498db;
  font-size: 20px;
}
#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  outline: none;
}
#header .btn-get-started:hover{
     background: #3498db;
     color: #fff;
}
.header-img{
  text-align: right;
}
.main_contact{
  padding: 0px 150px;
}
.footer{
  background-color: rgb(35, 34, 34);
  color: #fff;
  padding: 8px 0px;
  margin-bottom: 0px;
  text-align: center;
  
  margin-top: 60px;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@media (max-width : 991px){
    .navbar-brand{
      font-size: 1.5rem !important;
    }
    .menu_active{
      font-weight: bold;
      border-bottom: none;
    }
    #header h1{
      font-size: 25px;
    }
    #header h2{
      font-size: 14px;
    }
}

.column1 {
  float: left;
  width: 25%;
  padding: 5px 20px;
  margin-bottom: 20px;
}

/* Remove extra left and right margins, due to padding */
.row1 {margin: 0 -5px;}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
  
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 5px 40px;
  }
  .main_contact{
    padding: 0px 15px;
  }
 
}

